.options {
	margin: 5px;
}
.options:hover {
  background-color: #00d1b2;
  border-color: transparent;
  color: #fff;
 }

.selected {
  background-color: #00d1b2;
  border-color: transparent;
  color: #fff;
}

.selected:hover {
  background-color: #00c4a7;
  border-color: transparent;
  color: #fff;
}


.box {
	margin: 5px;
}

.full-width {
	width: 100%
}