{% load static %}
<html>
  <head>
    <title>ChatBot!</title>
    <!--<script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>-->
    <!--<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>-->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
  </head>
  <body class="container is-fluid">
    <div id="render-target">
      Loading ...
    </div>
  </body>
  <footer>
    <script type="text/babel" src="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </footer>
</html>